$red: #9F323D;
$dark-brown: #260202;
$chocolate: #7E3D39;
$gold: #DCC58B;
$cream: #E7E7C5;
$strong-gold: #FEC20E;

$body-font: 'Lora', 'Times New Roman', serif;
$title-font: 'Playfair Display', 'Times New Roman', serif;

